[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "829"
    },
    "Content": {
      "Body": {
        "paginationToken": "3eyJOYW1lX2xhYmVsIjp7IlMiOiJDb25maWd1cmF0aW9uMjAyMC5wcm9kIn0sIlJlY2VpdmVyIjp7IlMiOiJldmVyeW9uZSJ9LCJPd25lciI6eyJTIjoiSW52ZW50b3IifX0%3D",
        "data": [
          "SdkTester.MyAct+$LATEST",
          "SdkTester.MyAct+latest",
          "Inventor.Configuration2019+prod",
          "Clarity.ClarityTaskProcessor2023R23+prod",
          "AutoCAD.PlotSheetsetToPDF+prod",
          "Autodesk.VarArgInputsOnly+Latest",
          "Autodesk.Nop+Latest",
          "Autodesk.VarArgOutputsOnly+Latest",
          "Inventor.iLogic_Volume2021+prod",
          "Autodesk.VarArg+Latest",
          "3dsMax.OpenNetworkTests+Latest",
          "Clarity.ClarityTaskProcessor2023R21+prod",
          "AutoCAD.AcSvfPublish+prod",
          "Clarity.ClarityTaskProcessor2022R19+prod",
          "Clarity.ClarityTaskProcessor2022R22+prod",
          "Autodesk.Long+Latest",
          "Inventor.ChangeParams2019+prod",
          "3dsMax.UVUnwrapMesh+prod",
          "Clarity.ClarityTaskProcessor2022R20+prod",
          "Inventor.Configuration2020+prod"
        ]
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/activities",
      "Headers": {
        "Authorization": "***"
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "829"
    },
    "Content": {
      "Body": {
        "paginationToken": "3eyJOYW1lX2xhYmVsIjp7IlMiOiJPcGVuTmV0d29ya1Rlc3RzLkxhdGVzdCJ9LCJSZWNlaXZlciI6eyJTIjoiZXZlcnlvbmUifSwiT3duZXIiOnsiUyI6IkF1dG9DQUQifX0%3D",
        "data": [
          "3dsMax.UVUnwrapMesh+latest",
          "Inventor.ChangeParameters+prod",
          "Clarity.ClarityTaskProcessor2022R21+prod",
          "AutoCAD.AcF[...]
