[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "452"
    },
    "Content": {
      "Body": {
        "commandLine": [
          "\"$(engine.path)\\accoreconsole.exe\" /i \"$(args[dwg].path)\" /s \"$(settings[script].path)\""
        ],
        "parameters": {
          "dwg": {
            "verb": "get"
          },
          "params": {
            "verb": "read",
            "localName": "params.json"
          },
          "token": {
            "verb": "read"
          },
          "results": {
            "zip": true,
            "verb": "post",
            "localName": "outputs"
          }
        },
        "id": "SdkTester.MyAct",
        "engine": "Autodesk.AutoCAD+24",
        "appbundles": [
          "SdkTester.MyApp+latest"
        ],
        "settings": {
          "script": {
            "value": "_test params.json outputs\n"
          }
        },
        "version": 1
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/activities",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "commandLine": [
            "\"$(engine.path)\\accoreconsole.exe\" /i \"$(args[dwg].path)\" /s \"$(settings[script].path)\""
          ],
          "parameters": {
            "dwg": {
              "verb": "get"
            },
            "params": {
              "localName": "params.json",
              "verb": "read"
            },
            "token": {
              "verb": "read"
            },
            "results": {
      [...]
