[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "90"
    },
    "Content": {
      "Body": {
        "paginationToken": null,
        "data": [
          {
            "version": 1,
            "id": "$LATEST"
          },
          {
            "version": 1,
            "id": "latest"
          }
        ]
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/activities/MyAct/aliases",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]