[
  {
    "StatusCode": 401,
    "Headers": {
    },
    "Content": {
      "Body": {
        "developerMessage": "Access token provided is invalid or expired.",
        "moreInfo": "https://forge.autodesk.com/en/docs/oauth/v2/developers_guide/error_handling/",
        "errorCode": "AUTH-006"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/appbundles/MyApp/versions",
      "Headers": {
        "Authorization": "***"
      }
    }
  },
  {
    "StatusCode": 404,
    "Headers": {
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/appbundles/MyApp/versions",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]