[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "37"
    },
    "Content": {
      "Body": {
        "paginationToken": null,
        "data": [
          1,
          2
        ]
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/appbundles/MyApp/versions",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]