[
  {
    "StatusCode": 200,
    "Headers": {
    },
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/forgeapps/me",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "nickname": "SdkTester",
          "publicKey": {
            "Exponent": "AQ==",
            "Modulus": "Ag=="
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  }
]