[
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "frontendLimits": {},
        "backendLimits": {
          "AutoCAD": {
            "limitProcessingTimeSec": 300
          }
        }
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/servicelimits/me",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "backendLimits": {
            "AutoCAD": {
              "limitProcessingTimeSec": 300
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  }
]