[
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "frontendLimits": {
          "limitPayloadSizeInKB": 16,
          "limitVersions": 100,
          "limitAliases": 100,
          "limitPublicAliases": 0,
          "limitAppUploadSizeInMB": 100
        },
        "backendLimits": {
          "3dsMax": {
            "limitDownloads": 50,
            "limitUploads": 50,
            "limitDownloadSizeMB": 5000,
            "limitUploadSizeMB": 5000,
            "limitProcessingTimeSec": 21600,
            "limitTotalUncompressedAppsSizeInMB": 5000
          },
          "AutoCAD": {
            "limitDownloads": 10,
            "limitUploads": 10,
            "limitDownloadSizeMB": 100,
            "limitUploadSizeMB": 100,
            "limitProcessingTimeSec": 100,
            "limitTotalUncompressedAppsSizeInMB": 500
          },
          "AutoCAD-V3": {
            "limitDownloads": 10,
            "limitUploads": 10,
            "limitDownloadSizeMB": 100,
            "limitUploadSizeMB": 100,
            "limitProcessingTimeSec": 100,
            "limitTotalUncompressedAppsSizeInMB": 500
          },
          "Inventor": {
            "limitDownloads": 10,
            "limitUploads": 10,
            "limitDownloadSizeMB": 200,
            "limitUploadSizeMB": 250,
            "limitProcessingTimeSec": 300,
            "limitTotalUncompressedAppsSizeInMB": 500
          },
          "Revit": {
            "limitDownloads": 200,
            "limitUploads": 200,
            "limitDownloadSizeMB": 2000,
            "limitUploadSizeMB": 2000,
            "limitProcessingTimeSec": 10800,
            "limitTotalUncompressedAppsSizeInMB": 5000
          },
          "Test": {
            "limitDownloads": 10,
            "limitUploads": 10,
            "limitDownloadSizeMB": 100,
            "limitUploadSizeMB": 100,
            "limitProcessingTimeSec": 300,
            "limitTotalUncompressedAppsSizeInMB": 500
          }
        }
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/servicelimits/me",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]