[
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "status": "pending",
        "stats": {
          "timeQueued": "2019-01-03T03:02:02.4995322Z"
        },
        "id": "64d6ff86adbf4243ae6019b53c55f5f9"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "activityId": "SdkTester.MyAct+latest",
          "arguments": {
            "dwg": {
              "url": "http://download.autodesk.com/us/samplefiles/acad/blocks_and_tables_-_imperial.dwg"
            },
            "params": {
              "value": "{ 'ExtractBlockNames': true, 'ExtractLayerNames' : true }"
            },
            "results": {
              "url": "https://dasdev-testing.s3.us-west-2.amazonaws.com/sdktest?X-Amz-Expires=89925&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIZLLKUTZMHO46VTQ/20190103/us-west-2/s3/aws4_request&X-Amz-Date=20190103T025815Z&X-Amz-SignedHeaders=content-type;host&X-Amz-Signature=4bfe24c8855360be63c9c5915deba8750cf7724a532ebfb4fe996872f57d3541",
              "headers": {
                "Content-Type": "binary/octet-stream"
              },
              "verb": "put"
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  }
]