[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "114"
    },
    "Content": {
      "Body": {
        "status": "pending",
        "stats": {
          "timeQueued": "2023-07-26T02:46:17.0119905Z"
        },
        "id": "376dfab1fd8d4a56960c9ca8ec4fe5c3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "activityId": "SdkTester.MyAct+latest",
          "arguments": {
            "dwg": {
              "url": "http://download.autodesk.com/us/samplefiles/acad/blocks_and_tables_-_imperial.dwg"
            },
            "params": {
              "value": "{ 'ExtractBlockNames': true, 'ExtractLayerNames' : true }"
            },
            "token": {
              "value": "IamToken!"
            },
            "adskDebug": {
              "value": "{\"uploadJobFolder\":true}"
            },
            "results": {
              "url": "https://httpbin.org/put",
              "headers": {
                "Content-Type": "binary/octet-stream"
              },
              "verb": "put"
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "170"
    },
    "Content": {
      "Body": {
        "status": "inprogress",
        "stats": {
          "timeQueued": "2023-07-26T02:46:17.0119905Z",
          "timeDownloadStarted": "2023-07-26T02:46:17.1283298Z"
        },
        "id": "376dfab1fd8d4a56960c9ca8ec4fe5c3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/376dfab1fd8d4a56960c9ca8ec4fe5c3",
      "Headers": {
        "Authorization": "***"
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "170"
    },
 [...]
