[
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "status": "pending",
        "stats": {
          "timeQueued": "2019-01-03T05:42:59.9256904Z"
        },
        "id": "b2e85b086b8045e9a5a28e0b2b96f3d4"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "activityId": "SdkTester.MyAct+latest",
          "arguments": {
            "dwg": {
              "url": "http://download.autodesk.com/us/samplefiles/acad/blocks_and_tables_-_imperial.dwg"
            },
            "params": {
              "value": "{ 'ExtractBlockNames': true, 'ExtractLayerNames' : true }"
            },
            "results": {
              "url": "https://dasdev-testing.s3.us-west-2.amazonaws.com/sdktest?X-Amz-Expires=89925&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIZLLKUTZMHO46VTQ/20190103/us-west-2/s3/aws4_request&X-Amz-Date=20190103T025815Z&X-Amz-SignedHeaders=content-type;host&X-Amz-Signature=4bfe24c8855360be63c9c5915deba8750cf7724a532ebfb4fe996872f57d3541",
              "headers": {
                "Content-Type": "binary/octet-stream"
              },
              "verb": "put"
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  },
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "status": "success",
        "reportUrl": "https://dasprod-store.s3.amazonaws.com/workItem/SdkTester/b2e85b086b8045e9a5a28e0b2b96f3d4/report.txt?AWSAccessKeyId=ASIATGVJZKM3HBAEFTHT&Expires=1546497785&x-amz-security-token=FQoGZXIvYXdzEJ7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEmIckCvKn8%2F87Z0SCL9AYafE8PsudHLPcBjJ48uhdWudR%2BMrM8DH9FO1saphGUvXzrPsiWNaYs5AYCfzMEW7QGjmdqOQmcRAlipNyh0zoiNUFeBkc3LmntyJkIwo7dbyh8aUe2mhLb0b%2FLHe2jfuGtUE%2FGge%2FacqFXzZ57sn4ee9FbypIly2J63gNfKsloFqHSjwufi2pvnB8wUS4lX%2BYdWfJEImJLv3qY%2BCCXzJT9WR8%2B8605h3MQPXG72CIcWAv2A7RCDc8CFt2v5pg%2Bq1UpKdUzOcOrEmGYE6Eoo0RuAmNf%2FV8tKAWX%2BhLCXQ2mR66FULC73LInGIE8dPGmFyayDtFMUanv3gNxPVmEogZu24QU%3D&Signature=t%2Be%2BVcEnV7LwCNY2p94Twd1uvLI%3D",
        "stats": {
          "timeQueued": "2019-01-03T05:42:59.9256904Z",
          "timeDownloadStarted": "2019-01-03T05:43:00.2041376Z",
          "timeInstructionsStarted": "2019-01-03T05:43:00.3772063Z",
          "timeInstructionsEnded": "2019-01-03T05:43:01.3615925Z",
          "timeUploadEnded": "2019-01-03T05:43:01.6908844Z",
          "timeFinished": "2019-01-03T05:43:01.7898366Z"
        },
        "id": "b2e85b086b8045e9a5a28e0b2b96f3d4"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/b2e85b086b8045e9a5a28e0b2b96f3d4",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]