[
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "114"
    },
    "Content": {
      "Body": {
        "status": "pending",
        "stats": {
          "timeQueued": "2023-07-26T02:46:00.8341083Z"
        },
        "id": "f62103c311a54a6ba571a0950ce6eca3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "activityId": "SdkTester.MyAct+latest",
          "arguments": {
            "dwg": {
              "url": "http://download.autodesk.com/us/samplefiles/acad/blocks_and_tables_-_imperial.dwg"
            },
            "params": {
              "value": "{ 'ExtractBlockNames': true, 'ExtractLayerNames' : true }"
            },
            "token": {
              "value": "IamToken!"
            },
            "results": {
              "url": "https://httpbin.org/put",
              "headers": {
                "Content-Type": "binary/octet-stream"
              },
              "verb": "put"
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "170"
    },
    "Content": {
      "Body": {
        "status": "inprogress",
        "stats": {
          "timeQueued": "2023-07-26T02:46:00.8341083Z",
          "timeDownloadStarted": "2023-07-26T02:46:00.9500329Z"
        },
        "id": "f62103c311a54a6ba571a0950ce6eca3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/f62103c311a54a6ba571a0950ce6eca3",
      "Headers": {
        "Authorization": "***"
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "170"
    },
    "Content": {
      "Body": {
        "status": "inprogress",
        "stats": {
          "timeQueued": "2023-07-26T02:46:00.8341083Z",
          "timeDownloadStarted": "2023-07-26T02:46:00.9500329Z"
        },
        "id": "f62103c311a54a6ba571a0950ce6eca3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/f62103c311a54a6ba571a0950ce6eca3",
      "Headers": {
        "Authorization": "***"
      }
    }
  },
  {
    "StatusCode": 200,
    "Headers": {
      "x-amzn-Remapped-Content-Length": "1777"
    },
    "Content": {
      "Body": {
        "status": "success",
        "reportUrl": "https://dasprod-store.s3.amazonaws.com/workItem/SdkTester/f62103c311a54a6ba571a0950ce6eca3/report.txt?X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIHDnu96zKeZ95hxDFGbfEX8ZtQ07yimNL3RLa7jaHcThAiBzdmz%2BzYZz%2BabWFZs4QYcRa5rY7WHPom3zdAOznlHS4SqAAwg8EAMaDDIyMDQ3MzE1MjMxMCIMNW968qbshSN0mh0SKt0CugyXrlu6uQCh2fE6x4tyW73lS2oXzLfkPbFnJ%2FKfrtFECqiUV3hGHU2l9OgqiiTm8yjZqtrEJAUi78x4GaCur5lKQZkoeTXa%2Fc%2FPF6y19eJPZrmzuZZCUSrK9mSzJegxRmxb%2FOBsX08KppQD2pyQt1VhcuJJ7Dgo2zR9mhWACaIXCQbJaGhXKJw%2BlTZTKrun7UDu5BECUP%2B0%2FkEjSPQXy%2FCZNJ5y%2B4gewegMZHe2yjPugx3n2E2lTAb1Di5QTE3yhX8mkT5QN%2Fi%2BrxTcQpIFslWq%2BSKzCckBoMy21ebeVxMBc%2BsKEuCslfUPmr5or5Q%2FxchkHMUD82BtLLeg4DEeS%2FoxeFyDDqiMtMred4QVW3X3oicQ0s7Hoax7HWnfPcTMh%2FaWKmBWQqxILF3oj2F7s%2B7zlSOQ2tCGwM%2FNBS%2BOq56bLb8%2FE7ktlRbsuMsvwk4FkRyHYrujkD5FpGSPDDDFjYKmBjqfAeGAcX8polQA5n63QagoH8KPLarTI9pho309BorienXe02ZlLL8zM5%2FZyrPfyE2asCzpaIj%2BKw2lHP68x3wRVn64xruyMmjmR4%2B78f4JrTUU%2BhcKFh9v3BYgV3hoKG7ivSqNGYiPS%2BKiqvt1hDtBiLfkAVToJVbdJiSpcmLfApB0vubTcX2TeaZDxorV7qt6a7PpI6FFnGjpeFRlMjcPTA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIATGVJZKM3PFZM4J7G/20230726/us-east-1/s3/aws4_request&X-Amz-Date=20230726T024616Z&X-Amz-SignedHeaders=host&X-Amz-Signature=44e641c0422e18a83ea6173603453038354af2ecfbe4eac364f77fd484cd15fe",
        "stats": {
          "timeQueued": "2023-07-26T02:46:00.8341083Z",
          "timeDownloadStarted": "2023-07-26T02:46:00.9500329Z",
          "timeInstructionsStarted": "2023-07-26T02:46:01.3748103Z",
          "timeInstructionsEnded": "2023-07-26T02:46:04.6337709Z",
          "timeUploadEnded": "2023-07-26T02:46:11.3012457Z",
          "timeFinished": "2023-07-26T02:46:11.8273259Z",
          "bytesDownloaded": 227008,
          "bytesUploaded": 22
        },
        "id": "f62103c311a54a6ba571a0950ce6eca3"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/f62103c311a54a6ba571a0950ce6eca3",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]