[
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "status": "pending",
        "stats": {
          "timeQueued": "2019-08-13T06:02:40.9081695Z"
        },
        "id": "8970a8ec12345298a3747d18ba9bf95d"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "POST",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems",
      "Headers": {
        "Authorization": "***"
      },
      "Content": {
        "Body": {
          "activityId": "SdkTester.MyAct+latest",
          "arguments": {
            "dwg": {
              "url": "http://download.autodesk.com/us/samplefiles/acad/blocks_and_tables_-_imperial.dwg"
            },
            "params": {
              "value": "{ 'ExtractBlockNames': true, 'ExtractLayerNames' : true }"
            },
            "token": {
              "value": "IamToken!"
            },
            "results": {
              "url": "https://dasdev-testing.s3.us-west-2.amazonaws.com/sdktest?X-Amz-Expires=89925&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIZLLKUTZMHO46VTQ/20190103/us-west-2/s3/aws4_request&X-Amz-Date=20190103T025815Z&X-Amz-SignedHeaders=content-type;host&X-Amz-Signature=4bfe24c8855360be63c9c5915deba8750cf7724a532ebfb4fe996872f57d3541",
              "headers": {
                "Content-Type": "binary/octet-stream"
              },
              "verb": "put"
            }
          }
        },
        "Headers": {
          "Content-Type": "application/json"
        }
      }
    }
  },
  {
    "StatusCode": 200,
    "Content": {
      "Body": {
        "status": "success",
        "reportUrl": "https://dasprod-store.s3.amazonaws.com/workItem/SdkTester/8970a8ec12345298a3747d18ba9bf95d/report.txt?AWSAccessKeyId=ASIATGVJZKM3HBAEFTHT&Expires=1546498966&x-amz-security-token=FQoGZXIvYXdzEJ7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEmIckCvKn8%2F87Z0SCL9AYafE8PsudHLPcBjJ48uhdWudR%2BMrM8DH9FO1saphGUvXzrPsiWNaYs5AYCfzMEW7QGjmdqOQmcRAlipNyh0zoiNUFeBkc3LmntyJkIwo7dbyh8aUe2mhLb0b%2FLHe2jfuGtUE%2FGge%2FacqFXzZ57sn4ee9FbypIly2J63gNfKsloFqHSjwufi2pvnB8wUS4lX%2BYdWfJEImJLv3qY%2BCCXzJT9WR8%2B8605h3MQPXG72CIcWAv2A7RCDc8CFt2v5pg%2Bq1UpKdUzOcOrEmGYE6Eoo0RuAmNf%2FV8tKAWX%2BhLCXQ2mR66FULC73LInGIE8dPGmFyayDtFMUanv3gNxPVmEogZu24QU%3D&Signature=gRbfaWvC%2FTSxrOyn%2FGvj5YjBFAw%3D",
        "stats": {
          "timeQueued": "2019-08-13T06:02:40.9081695Z",
          "timeDownloadStarted": "2019-08-13T06:02:41.1777074Z",
          "timeInstructionsStarted": "2019-08-13T06:02:41.349623Z",
          "timeInstructionsEnded": "2019-08-13T06:02:42.3496219Z",
          "timeUploadEnded": "2019-08-13T06:02:42.7089659Z",
          "timeFinished": "2019-08-13T06:02:42.824428Z"
        },
        "id": "8970a8ec12345298a3747d18ba9bf95d"
      },
      "Headers": {
        "Content-Type": "application/json"
      }
    },
    "Request": {
      "Method": "GET",
      "RequestUri": "https://developer.api.autodesk.com/da/us-east/v3/workitems/8970a8ec12345298a3747d18ba9bf95d",
      "Headers": {
        "Authorization": "***"
      }
    }
  }
]