/* 
 * Forge SDK
 *
 * The Forge Platform contains an expanding collection of web service components that can be used with Autodesk cloud-based products or your own technologies. Take advantage of Autodesk’s expertise in design and engineering.
 *
 * Design Automation
 *
 * Generated by [Forge Swagger Codegen](https://git.autodesk.com/forge-ozone/forge-rsdk-codegen)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
using Autodesk.Forge.Core;
using Microsoft.Extensions.Options;
using System.Collections.Generic;
using System.Net.Http;
using Autodesk.Forge.DesignAutomation.Model;

namespace Autodesk.Forge.DesignAutomation.Http
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IServiceLimitsApi
    {
        /// <summary>
        /// Get the service limit configuration. Gets a user&#39;s service limit configuration.
        /// </summary>
        /// <exception cref="HttpRequestException">Thrown when fails to make API call</exception>
        /// <param name="owner">The user to fetch the service limit configuration for.</param>
        /// <returns>Task of ApiResponse<ServiceLimit></returns>
        
        System.Threading.Tasks.Task<ApiResponse<ServiceLimit>> GeServiceLimitAsync (string owner, string scopes = null, IDictionary<string, string> headers = null, bool throwOnError = true);
        /// <summary>
        /// Creates a new service limits configuration or updates exiting. Creates a new service limits configuration or updates exiting.
        /// </summary>
        /// <exception cref="HttpRequestException">Thrown when fails to make API call</exception>
        /// <param name="owner">The user to associate the configuration to.</param>
        /// <param name="item"></param>
        /// <returns>Task of ApiResponse<ServiceLimit></returns>
        
        System.Threading.Tasks.Task<ApiResponse<ServiceLimit>> ModifyServiceLimitAsync (string owner, ServiceLimit item, string scopes = null, IDictionary<string, string> headers = null, bool throwOnError = true);
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class ServiceLimitsApi : IServiceLimitsApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ServiceLimitsApi"/> class
        /// using ForgeService object
        /// </summary>
        /// <param name="service">An instance of ForgeService</param>
        /// <returns></returns>
        public ServiceLimitsApi(ForgeService service = null, IOptions<Configuration> configuration = null)
        {
            this.Service = service ?? ForgeService.CreateDefault();

            // set BaseAddress from configuration or default
            this.Service.Client.BaseAddress = configuration?.Value.BaseAddress ?? new Configuration().BaseAddress;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the ForgeService</value>
        public ForgeService Service {get; set;}

        /// <summary>
        /// Get the service limit configuration. Gets a user&#39;s service limit configuration.
        /// </summary>
        /// <exception cref="HttpRequestException">Thrown when fails to make API call</exception>
        /// <param name="owner">The user to fetch the service limit configuration for.</param>
        /// <returns>Task of ApiResponse<ServiceLimit></returns>
        
        public async System.Threading.Tasks.Task<ApiResponse<ServiceLimit>> GeServiceLimitAsync (string owner, string scopes = null, IDictionary<string, string> headers = null, bool throwOnError = true)
        {
            using (var request = new HttpRequestMessage())
            {
                request.RequestUri = 
                    Marshalling.BuildRequestUri("/v3/servicelimits/{owner}", 
                        routeParameters: new Dictionary<string, object> {
                            { "owner", owner},
                        },
                        queryParameters: new Dictionary<string, object> {
                        }
                    );

                request.Headers.TryAddWithoutValidation("Accept", "application/json");
                if (headers!=null)
                {
                    foreach (var header in headers)
                    {
                        request.Headers.TryAddWithoutValidation(header.Key, header.Value);
                    }
                }


                // tell the underlying pipeline what scope we'd like to use
                if (scopes == null)
                {
                    request.Properties.Add(ForgeConfiguration.ScopeKey, "code:all");
                }
                else
                {
                    request.Properties.Add(ForgeConfiguration.ScopeKey, scopes);
                }

                request.Method = new HttpMethod("GET");

                // make the HTTP request
                var response = await this.Service.Client.SendAsync(request);

                if (throwOnError)
                {
                    await response.EnsureSuccessStatusCodeAsync();
                }
                else if (!response.IsSuccessStatusCode)
                {
                    return new ApiResponse<ServiceLimit>(response, default(ServiceLimit));
                }

                return new ApiResponse<ServiceLimit>(response, await Marshalling.DeserializeAsync<ServiceLimit>(response.Content));

            } // using
        }
        /// <summary>
        /// Creates a new service limits configuration or updates exiting. Creates a new service limits configuration or updates exiting.
        /// </summary>
        /// <exception cref="HttpRequestException">Thrown when fails to make API call</exception>
        /// <param name="owner">The user to associate the configuration to.</param>/// <param name="item"></param>
        /// <returns>Task of ApiResponse<ServiceLimit></returns>
        
        public async System.Threading.Tasks.Task<ApiResponse<ServiceLimit>> ModifyServiceLimitAsync (string owner, ServiceLimit item, string scopes = null, IDictionary<string, string> headers = null, bool throwOnError = true)
        {
            using (var request = new HttpRequestMessage())
            {
                request.RequestUri = 
                    Marshalling.BuildRequestUri("/v3/servicelimits/{owner}", 
                        routeParameters: new Dictionary<string, object> {
                            { "owner", owner},
                        },
                        queryParameters: new Dictionary<string, object> {
                        }
                    );

                request.Headers.TryAddWithoutValidation("Accept", "application/json");
                if (headers!=null)
                {
                    foreach (var header in headers)
                    {
                        request.Headers.TryAddWithoutValidation(header.Key, header.Value);
                    }
                }

                request.Content = Marshalling.Serialize(item); // http body (model) parameter

                // tell the underlying pipeline what scope we'd like to use
                if (scopes == null)
                {
                    request.Properties.Add(ForgeConfiguration.ScopeKey, "code:all");
                }
                else
                {
                    request.Properties.Add(ForgeConfiguration.ScopeKey, scopes);
                }

                request.Method = new HttpMethod("PUT");

                // make the HTTP request
                var response = await this.Service.Client.SendAsync(request);

                if (throwOnError)
                {
                    await response.EnsureSuccessStatusCodeAsync();
                }
                else if (!response.IsSuccessStatusCode)
                {
                    return new ApiResponse<ServiceLimit>(response, default(ServiceLimit));
                }

                return new ApiResponse<ServiceLimit>(response, await Marshalling.DeserializeAsync<ServiceLimit>(response.Content));

            } // using
        }
    }
}
